html {
  scroll-behavior: smooth;
}

header {
  margin-top: 100px;
}

header, a {
  /* font-family: fantasy; */
}

h1 {
  text-align: left;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  }

/* centers add-button */
  #recipes-index {
text-align: center;
padding-bottom: 50px;
  }

  #add-button {
    padding: 0.5px 15px;
    border-radius: 5px;
    font-size: xx-large;
    /* margin-top: 5px; */
  }

  #home {
    background-color: black;
    height: 100vh;
  }

  #welcome {
    padding-top: 200px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    color: white;
    /* align-items: center; */
    /* text-align: center; */
  }

  #links-container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px;
  }
  
  #recipes,
  #menus {
    background-color: rgb(34, 34, 34);
    padding: 10%;
    border-radius: 5%;
  }

#menus-index-button {
  text-align: center;
  /* background-color: black;
  color: white;
  border-radius: 5%; */
}

/* #menus-index, img {
  border-radius: 2%;
} */

  footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
  }

  /* not working */
 #navbar-brand {
font-family: cursive;
 }

 