html {
  scroll-behavior: smooth;
}

h1 {
  padding-top: 100px;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  }

  #recipes-index {
text-align: center;
padding-bottom: 50px;
  }

  #home {
    background-color: black;
    color: white;
    padding: 100px;
    text-align: center;
    font-family: cursive;
  }

  footer {
    background-color: black;
    color: white;
    text-align: center;
  }

  /* not working */
 #navbar-brand {
font-family: cursive;
 }